/**** Start Nav bar section **********/
* {
  font-family: "Roboto", sans-serif;
}
.nav-bar {
  overflow: hidden;
  background-color: #393e46;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}
/***** End Nav bar section **********/

/***** Start Table section **********/
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customer tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customer tr:hover {
  background-color: #ddd;
}

/***** End Table Section ************/

/***** Start Content     ************/
.content {
  margin-top: 10px;
}
/***** End   Content     ************/

/***** Start Footer      ************/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #393e46;
  color: white;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding-top: 10px;
}
.footer-div {
  padding-left: 5px;
  padding-right: 5px;
}
#footer-table {
  width: 100%;
  border-collapse: collapse;
}
/***** End   Footer      ************/

/***** start text align  ************/
.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}
/***** end   text align  ************/

/***** start ************/
tr:hover {
  background-color: lightcyan;
}
/***** end  ************/
