* {
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  overflow: hidden;
  background-color: #393e46;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.test-div {
  position: relative;
  border: 1px solid;
}

.test-div2 {
  position: relative;
  border: 1px solid;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.div-table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.submitBtn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.div-table2 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.div-table3 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
